@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;


.contMasterElement_PB {
  height: 2.4rem;
  background-color: v.$backgroundColorHellGrayT;
  border: 1px solid v.$backgroundColorHellGray2;

  &>.buttonMasterElem {
    @include d.configurationText1 (v.$colorElementIni, 0.54rem);
    width: 100%;
    height: 2.4rem;
    margin: 0%;
    padding: 0%;
    font-weight: 600;
    text-align: center;
    transition: all ease 0.20s;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: v.$backgroundColorHellGray;
      color: v.$colorRedNeu;
    }
  }
}