@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;


.contRadioButtonElement {
  height: 2.4rem;
  transition: all ease 0.20s;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 2px ridge v.$colorHell2;
    outline-offset: 3px;
    border-radius: 2px;
  }

  &>.labelOfForm {
    @include d.configurationLabel (v.$colorElementIni, 0.55rem);
    text-align: left;
    width: fit-content;
    min-width: auto;
    height: 2rem;
    padding: 0.1%;
    margin: 0%;
    margin-left: 2%;
  }

  &>.contRadioButton {
    padding: 0.4rem;
    margin: 0% 1%;
    border-radius: 50%;
    border: 1px solid v.$backgroundColorDunkelGray4;
    transition: all ease 0.20s;

    &:hover,
    &:focus {
      cursor: pointer;
      max-height: 2rem;
      border: 1px solid v.$colorHell4White;
      box-shadow: v.$boxShadow16;
    }
  }
}